.clearfix {
  clear: both;
}

header {
  background: #777;
  height: 10vw;
}

header h1 {
  float: left;
  padding-left: 2vw;
  padding-top: 1.5vw;
  font-size: 5vw;
}

body {
  font-family: helvetica;
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
}

img {
  max-width: 100%;
}

main {
  width: 100%;
  margin: 2vw;
  /*outline: dotted 2px orange;*/
}

main h2 {
  font-size: 3vw;
  text-decoration: underline;
}

main p {
  font-size: 2vw;
  padding-right: 1vw;
}

nav ul li {
  display: inline-block;
  /*margin-right: 1vw;*/
  margin-top: 3.5vw;
}

nav ul li a {
  font-size: 3vw;
}

.sub-banners {
  margin-top: 3vw;
}

.sub-banners li {
  float: left;
  margin-right: 2vw;
}

.sub-banners li:nth-child(3) {
  margin-right: 0;
}

.projects-content {
  width: 95%;
  margin-right: 0;
}

.featured-content {
  float: left;
  margin-top: 3vw;
  width: 95%;
}

.featured-content img {
  /*width: 100%;*/
  float: left;
  /*margin-top: 3vw;*/
  margin-right: 3vw;
}

.featured-content h2 {
  /*width: 90%;*/
  font-size: 3vw;
  text-transform: capitalize;
  /*margin-top: 3vw;*/
  margin-bottom: 1vw;
}

.featured-content p {
  line-height: 2vw;
  /*outline: dotted 2px blue;*/
  height: 22vw;
  overflow: auto;
}

.featured-content button {
  border: none;
  padding: 8px 18px;
  background: #000;
  color: #fff;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
}

footer {
  margin-top: 30px;
  height: 150px;
  background: #222;
}

hr {
  margin: 1em;
  width: 100%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #fff;
}

a:hover, a:focus {
  color: #5a86a6;
}

a:visited {
}
