@media only screen and (min-width: 640px) {
  .main-nav ul {
    float: right;
    padding-right: 10px;
    display: block;
  }

  .main-nav li {
    display: inline-block;
    border: none;
    font-size: 2vw;
  }

  .main-nav span.icon-menu {
    display: none;
  }

  body {
    background-color: #999;
  }

  header {
    background: #444;
  }

  header h1 {
    color: #fff;
  }
}

.icon-menu {
  float: right;
  font-size: 2vw;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  /*display: none;*/
  padding-top: .5vw;
  list-style: none;
  /*clear: both;*/
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: 2vw;
  font-size: 1.5vw;
  padding: .5em .2em;
}
